.card {
    border: 1px solid #d3d3d3;
    border-radius: .25rem;
  }
  
  .bg-img {
    background-size: cover;
    min-height: 200px;
    background-position: center;
    background-color: #ccc;
  }
  
  .content {
    padding: 20px;
  }
  
  button {
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  img{
      height: 200px;
  }

  .nav-link{
      text-size-adjust: 20px;
  }

  .navbar-nav{
      height: 40px;
  }

  h1{
    padding-top: 20px;
  }

  h6{
    height: 100px;
  }